.head_container{
    position: relative;
    width: 100%;
    min-height: 4.5rem;
}
.container_bg{
    width: 100%;
    height: 20rem;
}
.back, .share{
    position: fixed;
    width: 3.2rem;
    height: 3.2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    top: 1.6rem;
    cursor: pointer;
    z-index: 10;
}
.back{
    left: 1.6rem;
}
.share{
    right: 1.6rem;
}
.cus_info{
    position: absolute;
    padding-top: 16rem;
    width: 100%;
    height: 4rem;
    bottom: 0;
    color: #fff;
    /*background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0, 0, 0, 0.7) 40%,#000 100%);*/
    background: url(../images/shadow.png) no-repeat;
    background-size: 100%;
    line-height: 2.4rem;
    z-index: 100;
}
.cus_info .head_img{
    float: left;
    display: block;
    margin-left: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}
.username{
    padding: 0 .8rem;
    border-right: 1px solid #fff;
}
.time{
    padding: 0 .8rem;
}
.main_container{
    background: #f7f7f7;
    padding-bottom: 4.1rem;
}
.content{
    padding: 1.8rem 2.4rem;
    margin-bottom: .4rem;
    background: #fff;
}
.content h2{
    font-size: 2rem;
    font-weight: bold;
}
.content .lable{
    margin: 3.2rem auto 2.4rem;
    color: #9c9c9c;
}
.content .lable span{
    padding: 0 .4rem;
    border-right: 1px solid #9c9c9c;
}
.content .lable span:last-child{
    border-right: none;
}
.content_text{
    font-size: 1.4rem;
}
.content_text p{
    word-wrap: break-word;
}
.content_text img{
    max-width: 100%;
}
.comment{
    background: #fff;
    border-top: 1px solid #f3f3f3;
}
.hot_words{
    padding-top: .8rem;
    width: 100%;
    text-align: center;
}
.words_list li{
    padding: 1.2rem 1rem;
    border-bottom: 1px solid #f7f7f7;
    overflow: auto;
}
.head_img, .list_right{
    float: left;
    display: inline-block;
}
.head_img{
    width: 16%;
}
.list_right{
    width: 80%;
}
.head_img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.blue{
    margin-top: .9rem;
    color: #406599;
    font-size: 1.2rem;
}
.words{
    margin: .8rem 0;
    font-size: 1.1rem;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.whole{
    height: 1.5rem;
}
.whole a{
    color: #406599;
}
.gray{
    color: #9ea6b2;
}
.delete{
    float: right;
}
.footer{
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: #f4f5f6;
    border-top: 1px solid #d8d8d8;
    z-index: 100;
}
.foot_box{
    height: 4rem;
    background: url(../images/bg_line.jpg) 50% no-repeat;
    background-size: 1px 60%;
}
.icon{
    position: relative;
    float: left;
    width: 50%;
    height: 4rem;
    cursor: pointer;
}
.icon img{
    display: block;
    margin: .2rem auto 0;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}
.icon span{
    display: block;
    font-size: 1.2rem;
    color: #9b9b9b;
    text-align: center;
}
.icon .add1{
    position: absolute;
    display: none;
    left: 50%;
    top: -1rem;
    color: #f85959;
}
.icon_yizan{

}
